<div *ngIf="hotel">
    <div>
        <h3>{{hotel.name}}</h3>
        <div>
            <a *ngFor="let room of hotel.rooms" [title]="'detials of room ' + room.roomNumber"
               [routerLink]="'Room/' + room.id">
                {{room.roomNumber}}
            </a>
        </div>
    </div>
    <div>
        <a [title]="'update the hotel name'" [routerLink]="'./Update'">Update Hotel</a>
    </div>
    <div>
        <a [title]="'Add a room'" [routerLink]="'./Room/Add'">New Room</a>
    </div>

</div>
<div *ngIf="!hotel">
    <p>This does not look right...</p>
</div>