<div *ngIf="account">
    <p>Update</p>
    <form (ngSubmit)="onSubmit()">
        <div>
            <label>
                Name
            </label>
            <input class="username" type="text" [(ngModel)]="account.username" name="username">
        </div>
        <div>
            <label>
                password
            </label>
            <input class="password" type="text" [(ngModel)]="account.password" name="password">
        </div>
        <div>
            <label>
                Role
            </label>
            <input class="Role" type="text" [(ngModel)]="account.role" name="role">
        </div>

        <button class="button" type="submit">Update</button>
    </form>
</div>
<div *ngIf="!account">
    <p>something went wrong!</p>
</div>